main {
	margin-top: 15em;
	opacity: 0;
	@include transform(translateY(5em));
	@include transition(opacity 0.4s ease-in 0.5s, transform 0.4s cubic-bezier(.17,.11,.81,1.26) 0.5s);

	.loaded & {
		opacity: 1;
		@include transform(translateY(0));
	}

	section > * {
		max-width: $container;
	}
}